JavaProjects/XMLExample/WebContent/BookSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/BookSchema" xmlns:tns="http://www.example.org/BookSchema" elementFormDefault="qualified">

    <complexType name="bookType">
    	<sequence>
    		<element name="bookNumber" type="int"></element>
    		<element name="bookName" type="string"></element>
    		<element name="price" type="double"></element>
    	</sequence>
    </complexType>


    <element name="books" type="tns:bookType"></element>
</schema>